
.footer { 
	color: rgb(233, 21, 21);
	margin: 0;
	text-align: end;
}

.footer ul {
	list-style-type: none
}
.footer ul li {
	display: inline;
	padding-right: 10px;
}
.footer a, .copyright a {
	text-decoration: none;
	color: #f5f6f8;
}

.copyright {
	padding-right: 10px;
	font-size: 11px;
	color: #f3f0ef;
}
