.top {
	width: 780px;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: url('./gfx/film.jpg') ;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
}