.sidebar{
	width: 10%;
	height: 100%;
	float: left;
	padding-right: 2px;
	border-right-color: black;
	border-right-style: solid;
}

.sidebar h3 {
	border-bottom: 2px solid #eee;
	font-size: 16px;
	color: #eee;
}
.sidebar ul {
	list-style-type: none;
}

.sidebar ul li {
	font-size: 14px;
	display: block;
	padding: 5px;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #eee;
}
.sidebar ul li Link:hover {
	font-weight: bold;
	
}
.contentContener { 
	width: 90%;
	height: 100%;
	background-color:#f9fcf8;
	float: left;
	
}
	