body {
	background-color: #fff ;
    background: url('./components/componentsCss/gfx//milky.jpg') repeat-x ;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
	}

        a {
            text-decoration: none;
            color: #92e211;
            }
                    
        a:hover {
            text-decoration: underline;
            }